.hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #fee2e2 0%, #e1ffea22 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 180px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-left p {
    color: #171717;
    font-size: 120px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.9;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 120px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-latest-btn:hover {
    background-color: #d63030;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around; /* Distribute the circular backgrounds evenly */
    margin-top: 50px;
    gap: 20px;
  }

.hero-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.top-image {
    margin-top: -550px;
    margin-left: -400px; 
    /* Adjust the value to position the image higher */
  }

.left-image {
    margin-left: -550px;
    margin-top:-100px ; /* Adjust the value to position the image higher */
  }

.right-image{
    margin-bottom: -150px;
    margin-right: -400px; /* Adjust the value to position the image higher */
}

.circular-background {
    width: 300px; /* Adjust the size as per your requirement */
    height: 300px;
    border-radius: 50%;
    background-color:#f9caca;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .guy-image {
    width: 300px; /* Adjust the size as per your requirement */
    height: 300px;
    object-fit: contain;
    position: absolute; /* Position the image within the circular background */
  }
  .girl-image {
    width: 550px; /* Adjust the size as per your requirement */
    height: 550px;
    object-fit: contain;
    position: absolute; /* Position the image within the circular background */
  }
  .kids-image {
    width: 450px; /* Adjust the size as per your requirement */
    height: 450px;
    margin-top: 80px;
    object-fit:contain;
    position: absolute; /* Position the image within the circular background */
  }